@tailwind base;
@tailwind components;
@tailwind utilities;
@config '../../../tailwind.animBuilder.config.js';
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@layer base {
  /* uses for dark styles */
  :root {
    /* background */
    --background: hsl(240, 4%, 16%);
    --background-hover: hsl(240, 4%, 16%);
    --background-disable: hsl(240, 4%, 16%);

    /* text */
    --text-default: hsl(0, 0%, 100%);

    /* button */
    --btn-background: hsl(240, 5%, 26%);
    --btn-bg-responsive-device: hsl(240, 5%, 26%);
    --btn-bg-action: hsl(101, 60%, 30%);
    --btn-bg-cancel: hsl(11, 56%, 45%);
  }
}

@layer base {
  body {
    @apply m-0 p-0;
  }
}

.wcfab2025 * {
  @apply font-inter text-text-default box-border;
}
