@tailwind base;
@tailwind components;
@tailwind utilities;
@config '../../../tailwind.animBuilder.config.js';
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@layer base {
  /* uses for dark styles */
  :root {
    /* background */
    --background: #27272a;
    --background-hover: #27272a;
    --background-disable: #27272a;
    --background-sidebar: #18181b;

    /* text */
    --text-default: hsl(0, 0%, 100%);

    /* button */
    --btn-background: #3f3f46;
    --btn-bg-responsive-device: #3f3f46;
    --btn-bg-action: #3c7a1f;
    --btn-bg-cancel: #b34a32;
  }
}

@layer base {
  body {
    @apply m-0 p-0;
  }
}

.wcfab2025 * {
  @apply font-inter text-text-default box-border;
}
