/* .wcf-context-menu {
  position: fixed;
  z-index: 99999;
  width: 215px;
  padding: 10px;
  flex-direction: column;
  gap: 2px;
  background: #1f2124;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 20px 5px;
  border: none !important;
  outline: none !important;
}

.wcf-context-menu-btn {
  width: 100%;
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 6px;
  outline: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.wcf-context-menu-btn:hover {
  background: #ebebeb;
  color: black;
  position: relative;
}

.wcf-context-submenu {
  margin-left: 8px;
  background: #1e1e1e;
  border-radius: 6px;
  min-width: 215px;
  padding: 10px;
  flex-direction: column;
  gap: 2px;
  border: none !important;
  outline: none !important;
}

.submenu-arrow {
  font-size: 12px;
  opacity: 0.7;
} */

.wcf-context-menu {
  position: fixed;
  z-index: 99999;
  width: 215px;
  padding: 10px;
  flex-direction: column;
  gap: 2px;
  background: #1f2124;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 20px 5px;
  border: none !important;
  outline: none !important;
}

.menu {
  position: absolute;
  top: 0;
  background: #1e1e1e;
  border: 1px solid #333;
  min-width: 180px;
  border: none !important;
  outline: none !important;
}

.menu-item {
  padding: 8px 12px;
  white-space: nowrap;
  cursor: pointer;
  list-style: none;
  border: none !important;
  outline: none !important;
}

.menu-item:hover,
.menu-item.active {
  background: #333;
}
