.wcf-context-menu-wrapper {
  position: fixed;
  width: 265px;
  background: #27272a;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(39, 39, 42, 0.3);
  /* animation */
  opacity: 0;
  transform: scale(0.95) translateY(6px);
  transform-origin: top left;
  animation: contextMenuKeyFrames 300ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes contextMenuKeyFrames {
  0% {
    opacity: 0.7;
    transform: scale(0.95) translateX(0px) translateY(0px);
  }
  50% {
    opacity: 0.85;
    transform: scale(1.02) translateX(5px) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0px) translateY(0px);
  }
}

.wcf-context-header {
  padding: 15px;
  border-bottom: 1px solid #4a4a4a;
}

.wcf-context-header .tag {
  color: #e55f42;
}

.wcf-context-header .class {
  color: #64964c;
}
.wcf-context-menu {
  list-style: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wcf-ab-context-menuItems {
  position: relative;
  padding: 0 9px;
  line-height: 32px;
  border-radius: 5px;
  cursor: pointer;
}
.wcf-ab-context-menuItems:hover {
  background: #3f3f46;
}
.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.submenu {
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 235px;
  background: #27272a;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease;
  pointer-events: none;
}
.wcf-ab-context-menuItems:hover > .submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* positioning submenu */
.submenu--right {
  left: calc(100% + 20px);
}
.submenu--left {
  right: calc(100% + 20px);
}

/* adding a transparent div to help hover state and prevent submenu disapping between menu and submenu */

.wcf-ab-context-menuItems::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 20px;
  height: 100%;
}

.wcf-ab-context-menuItems::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 20px;
  height: 100%;
}
